<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482510413269-tbb6fjkjcfcea8fk2fm2cpdpahbtmvg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482510413269-tbb6fjkjcfcea8fk2fm2cpdpahbtmvg3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>482510413269-8t0mrcgh5cjkd4c2ho585lm2qlqjld36.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCnz2241kVKh4dXe0yAfv0SBTWIlegSCik</string>
	<key>GCM_SENDER_ID</key>
	<string>482510413269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proj1</string>
	<key>PROJECT_ID</key>
	<string>chatappflutetr</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappflutetr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482510413269:ios:dbc040ea0248c7dbe9f15c</string>
</dict>
</plist>